/* Global */
:root {
  /* Color */
  --color-white: #fff;
  --color-blue: #308FFF;
  --color-grey: #7E7D7D;
  --color-light-gre: #B9B9B9;

  /* Font Family */
  --font-lato: 'Lato', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  /* Font size */
  --size-large: 42px;
  --size-medium: 24px;
  --size-regular: 18px;

  /* Font weight */
  --weight-bold: 700;
  --weight-regular: 400;

  /* Size */
  --btn-radius: 50px;
  --input-radius: 20px;
  --title-letter-spacing: -0.05em;
}

/* Typography */
h1 {
  font-size: var(--size-large);
  letter-spacing: var(--title-letter-spacing);
  color: var(--color-white);
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: var(--color-white);
  border-radius: var(--btn-radius);
}

input {
  outline: none;
  border: none;
  border-radius: var(--input-radius);
}

